<header class="header" [ngClass]="{ 'not-at-top': !isAtTop }">
  <section class="header-layer-1">
    <ul class="left">
      <li class="purple">HOME</li>
      <app-header-menu-item
        title="WHO WE SERVE"
        [menuItems]="[
          { name: 'INDIVIDUALS', link: '',subMenu:[]  },
          { name: 'INSTITUTIONS', link: '' ,subMenu:[] },
          { name: 'BECOME A CLIENT', link: '',subMenu:[]  }
        ]"
      ></app-header-menu-item>
      <app-header-menu-item
        title="OUR SOLUTIONS"
        [menuItems]="[
          { name: 'INVESTMENT MANAGEMENT', link: '',subMenu:[]  },
          { name: 'CORPORATE AND INVESTMENT BANKING', link: '',subMenu:[]  },
          { name: 'INSTITUTIONAL SECURITIES', link: '',subMenu:[]  }
        ]"
      ></app-header-menu-item>
    </ul>
    <ul class="right">
      <li>SEARCH</li>
      <li>CAREERS</li>
    </ul>
  </section>
  <section class="header-layer-2">
    <ul>
      <app-header-menu-item
        title="About"
        [menuItems]="[
          { name: 'Our Company', link: '' ,subMenu:[] },
          { name: 'Milestones', link: '',subMenu:[]  },
          { name: 'Governance', link: '',subMenu:[]  },
          { name: 'Investor Relations', link: '',subMenu:[]  }
        ]"
      ></app-header-menu-item>
      <app-header-menu-item
        title="Businesses"
        [menuItems]="[
          { name: 'FBNQuest Merchant Bank Group', link: '',subMenu:[]  },
          { name: 'FBNQuest Capital Group', link: '' ,subMenu:[] },
          { name: 'FBNQuest Trustees', link: '',subMenu:[]  }
        ]"
      ></app-header-menu-item>
      <app-header-menu-item
        title="Sustainability"
        [menuItems]="[
          { name: 'Where we stand', link: '',subMenu:[]  },
          { name: 'Committed to Stewardship', link: '' ,subMenu:[] },
          { name: 'Citizenship Reports', link: '',subMenu:[]  }
        ]"
      ></app-header-menu-item>
      <app-header-menu-item
        title="Pressroom"
        [menuItems]="[
          { name: 'News and Press Releases', link: '',subMenu:[]  },
          { name: 'Lifestyle', link: '' ,subMenu:[] },
          { name: 'Leading Conversations', link: '',subMenu:[]  },
          { name: 'Impact Stories', link: '' ,subMenu:[] },
          { name: 'Awards', link: '',subMenu:[]  }
        ]"
      ></app-header-menu-item>
      <app-header-menu-item
        title="Quicklinks"
        [menuItems]="[
          { name: 'Help & Support', link: '',subMenu:[]  },
          { name: 'Tools & Calculators', link: '',subMenu:[]  },
          { name: 'Office Locations', link: '',subMenu:[]  },
          { name: 'FAQs', link: '',subMenu:[]  },
          { name: 'Policies', link: '',subMenu:[]  },
          { name: 'Ask the Experts', link: '',subMenu:[]  },
          { name: 'NCCG Reports', link: '',subMenu:[]  }
        ]"
      ></app-header-menu-item>
    </ul>
    <div class="fbnquest-logo">
      <img src="../../../assets/FBN-Quest.svg" />
    </div>
  </section>
</header>
<!--####################################################################-->
<header class="mobile-header">
  <ul class="header-layer-1">
    <li>HOME</li>
    <li>CLIENTS</li>
    <li>SOLUTIONS</li>
    <li>CAREERS</li>
    <app-header-menu-item
      title="LOGIN"
      [menuItems]="[
        { name: 'FBNQUEST MERCHANT BANK - INDIVIDUAL', link: '', subMenu: [] },
        { name: 'FBNQUEST MERCHANT BANK - CORPORATE', link: '', subMenu: [] },
        { name: 'FBNQUEST ASSET MANAGEMENT', link: '', subMenu: [] },
        { name: 'FBNQUEST SECURITIES', link: '', subMenu: [] },
        { name: 'FBNQUEST TRUSTEES', link: '', subMenu: [] }
      ]"
    ></app-header-menu-item>
  </ul>
  <div class="header-layer-2">
    <fa-icon
      [icon]="showAdditionalMenu ? faTimes : faBars"
      class="menu-icon"
      (click)="toggleShowAdditionalMenu()"
    ></fa-icon>
    <div class="fbnquest-logo">
      <img src="../../../assets/FBN-Quest.svg" />
    </div>
  </div>
  <app-additional-menu *ngIf="showAdditionalMenu"></app-additional-menu>
</header>
