<section class="layer-4">
  <div class="column-1">
    <img src="../../../../../assets/grass-field.jpg" />
  </div>
  <div class="column-2">
    <h1>Securing a Prosperous and Sustainable Future for All</h1>
    <h2>
      We consider ourselves stewards of the world we live in, directing our
      sustainability efforts toward resolving financial, environmental, social,
      and ethical issues that pose obstacles and business opportunities.
    </h2>
    <ul>
      <li><a>Where We Stand</a></li>
      <li><a>Committed to Stewardship</a></li>
      <li><a>Citizenship Reports</a></li>
    </ul>
  </div>
</section>
