<section class="additional-menu">
  <div class="search-input-container">
    <input
      type="search"
      name="search-input"
      [(ngModel)]="searchInput"
      placeholder="Search our solutions, services and more"
    />
  </div>
  <ul class="menu-options">
    <li>About</li>
    <li>Businesses</li>
    <li>Sustainability</li>
    <li>Pressroom</li>
    <li>Quicklinks</li>
  </ul>
  <ul class="social-links">
    <li>
      <a><fa-icon [icon]="faFacebook"></fa-icon></a>
    </li>
    <li>
      <a><fa-icon [icon]="faTwitter"></fa-icon></a>
    </li>
    <li>
      <a><fa-icon [icon]="faLinkedin"></fa-icon></a>
    </li>
    <li>
      <a><fa-icon  [icon]="faWhatsapp" ></fa-icon></a>
    </li>
  </ul>
</section>
