@import "primeicons/primeicons.css";

.dropdown-menu-container {
  background-color: blue;
  max-height: 15px;
}
.dropdown-menu-icon {
  margin-left: 5px;
}

.dropdown-menu-title:hover {
  color: purple;
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  overflow-x: hidden;
  background-color: white;
  color: #192f56;
  list-style: none;
  min-width: 300px;
  margin-top: 0px;
  padding-top: 50px;
  padding: 0px;
}

.dropdown-menu li:first-child {
  margin-top: 35px;
}

.dropdown-menu li {
  width: 100%;
  height: 50px;
  transition: 0.2s;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dropdown-menu li:hover {
  background-color: rgb(231, 229, 230);
}

@media (max-width: 767px) {
  .dropdown-menu {
    right: 10px;
  }
}
