<section class="layer-3">
  <div class="layer-3-content-box">
    <h1>Explore Solutions</h1>
    <h2>
      A diverse range of investment solutions - there to help you preserve and
      grow your wealth.
    </h2>
    <ul>
      <li>
        <fa-icon [icon]="faAngleRight" class="angle-right-icon"></fa-icon
        ><a>Investment Management</a>
      </li>
      <li>
        <fa-icon [icon]="faAngleRight" class="angle-right-icon"></fa-icon
        ><a>Corporate & Investment Banking</a>
      </li>
      <li>
        <fa-icon [icon]="faAngleRight" class="angle-right-icon"></fa-icon
        ><a>Institutional Securities</a>
      </li>
    </ul>
  </div>
</section>
