<section class="layer-6">
  <div class="layer-6-top">
    <ul class="icon-list">
      <li class="icon"><fa-icon [icon]="faFacebook"></fa-icon></li>
      <li class="icon"><fa-icon [icon]="faTwitter"></fa-icon></li>
      <li class="icon"><fa-icon [icon]="faInstagram"></fa-icon></li>
      <li class="icon"><fa-icon [icon]="faYoutube"></fa-icon></li>
      <li class="icon"><fa-icon [icon]="faLinkedin"></fa-icon></li>
    </ul>
  </div>
  <div class="layer-6-middle">
    <ul>
      <li>FBNQUEST</li>
      <li><a>About FBNQuest</a></li>
      <li><a>Businessed</a></li>
      <li><a>Sustainability</a></li>
      <li><a>Governance</a></li>
      <li><a>Careers</a></li>
    </ul>
    <ul>
      <li>RESOURCES</li>
      <li><a>Individual Investors</a></li>
      <li><a>Institutional Investors</a></li>
      <li><a>Become a Client</a></li>
      <li><a>Pressroom</a></li>
      <li><a>Tools & Calculators</a></li>
      <li><a>NCCG Report</a></li>
    </ul>
    <ul>
      <li>LEGAL</li>
      <li><a>Terms & Conditions</a></li>
      <li><a>Feedback & Complaints</a></li>
      <li><a>Privacy Policy</a></li>
      <li><a>Cookies Policy</a></li>
      <li><a>Whistleblowing</a></li>
    </ul>
  </div>
  <div class="layer-6-bottom">
    <p>&copy; 2023. FBNQuest. All Rights Reserved.</p>
    <ul>
      <li><a>Security Center</a></li>
      <li><a>Sitemap</a></li>
      <li><a href="/#top">Back to Top</a></li>
    </ul>
  </div>
</section>
