<div
  class="share-tag"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  @if (!isHovered) {
  <div>SHARE</div>
  }@else {
  <div class="icons">
    @for (icon of icons; track $index) {
    <fa-icon [icon]="icon" [rotate]="90" class="icon"></fa-icon>
    }
  </div>
  }
</div>

<!---------------------------------------------------------------------->
<div class="scroll-button-container">
  <div class="scroll-button" (click)="scrollDown()">
    <fa-icon [icon]="faAngleDown" [ngStyle]="{ color: 'white' }"></fa-icon>
  </div>
  <div class="scroll-text">SCROLL</div>
</div>
