.share-tag {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  min-width: 120px;
  height: 50px;
  transform-origin: top left;
  transform: rotate(-90deg);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #e0e5e7;
  color: #003b65;
  font-family: "Inter", sans-serif;
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

.share-tag .icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 14px;
  padding: 20px;
}
.share-tag .icons .icon {
  margin-left: 10px;
  margin-right: 10px;
}

.scroll-button-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 50px;
  right: 0;
  z-index: 10;
  width: 100px;
  height: 100px;
}

.scroll-button-container .scroll-button {
  border: solid;
  border-width: 1px;
  width: 48px;
  height: 48px;
  border-color: white;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scroll-button-container .scroll-text {
  margin-top: 10px;
  color: white;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600m;
}

@media (max-width: 767px) {
  .scroll-button-container,
  .share-tag {
    display: none;
  }
}
