<div
  class="share-tag"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  <div *ngIf="!isHovered">SHARE</div>
  <div *ngIf="isHovered" class="icons">
    <fa-icon
      *ngFor="let icon of icons"
      [icon]="icon"
      [rotate]="90"
      class="icon"
    ></fa-icon>

  </div>
</div>

<!---------------------------------------------------------------------->
<div class="scroll-button-container">
  <div class="scroll-button" (click)="scrollDown()">
    <fa-icon [icon]="faAngleDown" [ngStyle]="{ color: 'white' }"></fa-icon>
  </div>
  <div class="scroll-text">SCROLL</div>
</div>
